:root {
  //colors
  --white: #fff;
  --black: #000;

  --dark: #040714;
  --dark-shade1: rgba(249, 249, 249, 0.2);

  --light: #f9f9f9;
  --light-shade1: rgba(249, 249, 249, 0.8);
  --blue: #0063e5;
}
