@import "../../../../styles/abstract/mixins";

.programs {
  &__content {
    @include content(5);
  }

  &__box {
    @include box;
  }

  &__img {
    position: absolute;
    top: 0;
  }

  &__video {
    opacity: 0;
    transition: all 1.6s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
