.home {
  //   min-height: calc(100vh - 10rem);
  min-height: 100vh;
  background: url(/img/home-background.png) center/cover no-repeat fixed;
  position: relative;
  padding-top: 10rem; //partly to push down the section from the fixed header
  //   top: 72px;

  //   &::before {
  //     content: "";
  //     height: 100%;
  //     width: 100%;
  //     z-index: -1;
  //     position: absolute;
  //     background: url(/img/home-background.png) center/cover no-repeat fixed;
  //   }
}
