@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
@import "../abstract/mixins";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond(phone) {
    // font-size: 40%;
  }

  @include respond(tab-port) {
    // font-size: 40%;
  }
}

body {
  background-color: var(--dark);
  font-family: "Nunito Sans", sans-serif;
  color: var(--light);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}


.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem;
}